# Environment variables example

# Prisma database connection URL (Required)
DATABASE_URL=
DIRECT_URL=

# OAuth2 issuer URL (Required)
ISSUER_URL=http://localhost:3000

# OAuth2 JWT secret (Required, must be the same as the one used by the issuer)
JWT_SECRET=p/4yXceybgRQinkw9XEiFpyff4+QncskZUn2GfOFRPc=

# Application port (Optional, default is 3000)
PORT=3000